body {
    background-color: white;
    color: black;
}

.emphasis {
    font-weight: bold;
}
input[type='checkbox'] {
    margin-right: 6px;
}
dd {
    margin-top: 6px;
}

/* スペーサー */
dd.space20 { height: 20px; font-size: 0; }