body {
    background-color: white;
    color: black;
}

.emphasis {
    font-weight: bold;
}
input[type='checkbox'] {
    margin-right: 6px;
}
dd {
    margin-top: 6px;
}

/* チェックを除外する送信元メールアドレス・ドメイン */
textarea#senderAllowList {
    font-size: 100%;
    width: 400px;
    height: 50px;
    background-color: #ffffef;
}

/* チェックを除外する送信先メールアドレス・ドメイン */
textarea#destinationAllowList {
    font-size: 100%;
    width: 400px;
    height: 80px;
    background-color: #efffef;
}

/* スペーサー */
dd.space10 { height: 20px; font-size: 0; }
dd.space20 { height: 20px; font-size: 0; }